.mainDiv {
    width: 100vw;
    height: 100vh;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 642px;
    height: 642px;
    
}


/* body */
body {
    margin: 0px;
    padding: 0px;
}

* {
 box-sizing: border-box;   
}