.mainDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.textDiv {
    text-align: center;
}

.heading {
    font-size: 80px;
    font-style: italic;
}

.btns {
    font-size: 24px;
    padding: 8px;
    background-color: #BC0001;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    margin: 0px 8px;
    transition: 0.25s;
}

.btns:hover {
    transition: 0.25s;
    scale: 1.1;
    cursor: pointer;;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 40px solid #BC0001;
    border-radius: 20px;
}


/* body */
body {
    margin: 0px;
    padding: 0px;
    background-color: #FDFBD4;
}

* {
 box-sizing: border-box;   
}